<button
    id="theme-toggle"
    class="block h-5 w-5 rounded-full"
    aria-label="Toggle theme"
    title="Toggle theme"
>
    <span class="dark:hidden">🌕</span>
    <span class="hidden dark:inline-block">🌑</span>
</button>

<script>
    import { initTheme, toggleTheme } from "@lib/theme";

    initTheme();

    const themeToggle = document.getElementById("theme-toggle");
    themeToggle?.addEventListener("click", toggleTheme);
</script>
